.weatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
}

.finalViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 786px) {
  .finalViewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
